@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bgColor: #cee4e4;
    --textPrimary: #5a5555;     
    --textSecondary: #361f1f;    
    --primaryColor: #5c5454;    

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
main{
    width: 600px;
    margin: 50px auto;

}
h1{
    color: var(--primaryColor);
}


h1 svg {
    width: 40px;
    fill: var(--primaryColor);
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
#buttons{
    text-align: right;
}
#info{
    color: var(--primaryColor);
}
button{
    background: rgba(212, 206, 206, 0.2);
    border: 1;
    color: rgba(0, 0, 0, 0.555);
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
div#game{
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}
#words{
    filter: blur(3px);
    color: var(--textSecondary);
}
#game:focus #words{
    filter: blur(0);
}
#focus-error{
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}
#game:focus #focus-error{
    display: none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}
.letter.correct{
    color: #fff;
}
.letter.incorrect{
    color: #f55;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#cursor{
    display: none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 200px;
    left: 230px; /*don't change this 230px to 16px; it will not work */
    animation: blink .4s infinite; /* I changed the blink speed to 4s instead of 3s */
}
#game:focus #cursor{
    display: block;
}